<!DOCTYPE html>
<html>
  <head>
  </head>

  <link rel="stylesheet" href="./stylesheets/composant.css">
  <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <body>
    <section>
      <img id="background_image" src="<%= image_url %>" alt="">
      <div class="container">

        <div id="content_statistique" class="mx-auto">
          <div class="content_statistique_main">
            <div class="row">
              <div class="col-2 content_statistique_main_bar content_statistique_main_bar_a scroll_top ">
                <span class="number_stats habilite"><%= statistique.stats_habilite %></span>
                <div class="logo_statistique">
                  <img src="images/habi.svg" alt="logoSVG">
                </div>
              </div>
              <div class="col content_statistique_main_bar content_statistique_main_bar_b scroll_top_center ">
                <span class="number_stats endurance"><%= statistique.stats_endurance %></span>
                <div class="logo_statistique">
                  <img src="images/pulse-line.svg" alt="logoSVG">
                </div>
              </div>
              <div class="col-3 content_statistique_main_bar content_statistique_main_bar_c scroll_top_super_center">
                <div class="hexsagon">

                    <img src="images/logo.no.texte.svg" alt="logoSVG">
                </div>
              </div>
              <div class="col content_statistique_main_bar content_statistique_main_bar_d scroll_top_center ">
                <span class="number_stats protectio"><%= statistique.stats_protection %></span>
                <div class="logo_statistique">
                  <img src="images/shield.svg" alt="logoSVG">
                </div>
              </div>
              <div class="col-2 content_statistique_main_bar content_statistique_main_bar_e scroll_top ">
                <span class="number_stats chance"><%= statistique.stats_chance %></span>
                <div class="logo_statistique">
                  <img src="images/clover.svg" alt="logoSVG">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="content_text" class="mx-auto scroll_left">
          <div id='text_page'>
            <div id="carouselContent" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">

                </div>
            </div>
          </div>
        </div>

            <div class="row">
              <div class="col">
                <br>
                <h2 class="text-center">Joueur 01</h2>
                <div class="row content_stats_fight">
                  <div class="col choice_block scroll_right position_relative">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="52" height="60" viewbox="0 0 51.96152422706631 60" style="filter: drop-shadow(rgba(255, 255, 255, 0.5) 0px 0px 10px);"><path fill="#fff" d="M25.980762113533157 0L51.96152422706631 15L51.96152422706631 45L25.980762113533157 60L0 45L0 15Z"></path></svg>
                    <!-- <img src="img/box.svg" class="contentImgSvg" alt="logoSVG"> -->
                    <img src="images/habi.svg" alt="logoSVG">
                    <p class="contentText"><%= statistique.stats_habilite %></p>
                    <!-- <p class="contentNumber"></p> -->
                  </div>
                  <div class="col choice_block scroll_right position_relative">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="52" height="60" viewbox="0 0 51.96152422706631 60" style="filter: drop-shadow(rgba(255, 255, 255, 0.5) 0px 0px 10px);"><path fill="#fff" d="M25.980762113533157 0L51.96152422706631 15L51.96152422706631 45L25.980762113533157 60L0 45L0 15Z"></path></svg>
                    <!-- <img src="img/box.svg" class="contentImgSvg" alt="logoSVG"> -->
                    <img src="images/pulse-line.svg" alt="logoSVG">
                    <p class="contentText"><%= statistique.stats_endurance %></p>
                    <!-- <p class="contentNumber"></p> -->
                  </div>
                  <div class="col choice_block scroll_right position_relative">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="52" height="60" viewbox="0 0 51.96152422706631 60" style="filter: drop-shadow(rgba(255, 255, 255, 0.5) 0px 0px 10px);"><path fill="#fff" d="M25.980762113533157 0L51.96152422706631 15L51.96152422706631 45L25.980762113533157 60L0 45L0 15Z"></path></svg>
                    <!-- <img src="img/box.svg" class="contentImgSvg" alt="logoSVG"> -->
                    <img src="images/dice.svg" alt="logoSVG">
                    <p class="contentText contentTextPlayer"></p>
                    <!-- <p class="contentNumber"></p> -->
                  </div>
                </div>
              </div>

              <div class="col">
                <div id="content_super_hexagon_bad" class="mx-auto">
                  <div class="row">
                    <div class="col choice_block scroll_right">
                      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="148" height="170" viewbox="0 0 147.22431864335456 170"><path fill="#fff" d="M73.61215932167728 0L147.22431864335456 42.5L147.22431864335456 127.5L73.61215932167728 170L0 127.5L0 42.5Z"></path></svg>
                      <!-- <img src="img/box.svg" class="contentImgSvg" alt="logoSVG">
                      <p class="contentText"></p> -->
                      <p class="contentNumber"></p>
                    </div>
                    <div class="col choice_block scroll_left">
                      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="148" height="170" viewbox="0 0 147.22431864335456 170"><path fill="#fff" d="M73.61215932167728 0L147.22431864335456 42.5L147.22431864335456 127.5L73.61215932167728 170L0 127.5L0 42.5Z"></path></svg>
                      <!-- <img src="img/box.svg" class="contentImgSvg" alt="logoSVG">
                      <p class="contentText"></p> -->
                      <p class="contentNumber"></p>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col choice_block scroll_right_center">
                      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="148" height="170" viewbox="0 0 147.22431864335456 170"><path fill="#fff" d="M73.61215932167728 0L147.22431864335456 42.5L147.22431864335456 127.5L73.61215932167728 170L0 127.5L0 42.5Z"></path></svg>
                      <!-- <img src="img/habi.svg" class="contentImgSvg" alt="logoSVG">
                      <p class="contentText"></p> -->
                      <p class="contentNumber"></p>
                    </div>
                    <div class="col content_fight">
                      <div class="row stats_fight">
                        <div class="col">
                          <p class="contentRandNumber"></p>

                        </div>
                        <div class="col">
                          <p class="contentRandNumber"></p>

                        </div>
                      </div>
                      <!-- <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="148" height="170" viewbox="0 0 147.22431864335456 170"><path fill="#fff" d="M73.61215932167728 0L147.22431864335456 42.5L147.22431864335456 127.5L73.61215932167728 170L0 127.5L0 42.5Z"></path></svg> -->
                    </div>
                    <div class="col choice_block scroll_left_center">
                      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="148" height="170" viewbox="0 0 147.22431864335456 170"><path fill="#fff" d="M73.61215932167728 0L147.22431864335456 42.5L147.22431864335456 127.5L73.61215932167728 170L0 127.5L0 42.5Z"></path></svg>
                      <!-- <img src="img/box.svg" class="contentImgSvg" alt="logoSVG">
                      <p class="contentText"></p> -->
                      <p class="contentNumber"></p>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col choice_block scroll_right">
                      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="148" height="170" viewbox="0 0 147.22431864335456 170"><path fill="#fff" d="M73.61215932167728 0L147.22431864335456 42.5L147.22431864335456 127.5L73.61215932167728 170L0 127.5L0 42.5Z"></path></svg>
                      <!-- <img src="img/box.svg" class="contentImgSvg" alt="logoSVG"> -->
                      <!-- <p class="contentText">Lorem ipsum dolor sit amet.</p> -->
                      <p class="contentNumber"></p>
                    </div>
                    <div class="col choice_block scroll_left">
                      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="148" height="170" viewbox="0 0 147.22431864335456 170"><path fill="#fff" d="M73.61215932167728 0L147.22431864335456 42.5L147.22431864335456 127.5L73.61215932167728 170L0 127.5L0 42.5Z"></path></svg>
                      <!-- <img src="img/box.svg" class="contentImgSvg" alt="logoSVG">
                      <p class="contentText"></p> -->
                      <p class="contentNumber"></p>
                  </div>
                </div>
              </div>
              </div>
              <div class="col">
                <br>
                <h2 class="text-center"><%= monster.name %></h2>
                <div class="row content_stats_fight">
                  <div class="col choice_block scroll_right position_relative">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="52" height="60" viewbox="0 0 51.96152422706631 60" style="filter: drop-shadow(rgba(255, 255, 255, 0.5) 0px 0px 10px);"><path fill="#fff" d="M25.980762113533157 0L51.96152422706631 15L51.96152422706631 45L25.980762113533157 60L0 45L0 15Z"></path></svg>
                    <!-- <img src="img/box.svg" class="contentImgSvg" alt="logoSVG"> -->
                    <img src="images/habi.svg" alt="logoSVG">
                    <p class="contentText"><%= monster.stats_habilite %></p>
                    <!-- <p class="contentNumber"></p> -->
                  </div>
                  <div class="col choice_block scroll_right position_relative">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="52" height="60" viewbox="0 0 51.96152422706631 60" style="filter: drop-shadow(rgba(255, 255, 255, 0.5) 0px 0px 10px);"><path fill="#fff" d="M25.980762113533157 0L51.96152422706631 15L51.96152422706631 45L25.980762113533157 60L0 45L0 15Z"></path></svg>
                    <!-- <img src="img/box.svg" class="contentImgSvg" alt="logoSVG"> -->
                    <img src="images/pulse-line.svg" alt="logoSVG">
                    <p class="contentText"><%= monster.stats_endurance %></p>
                    <!-- <p class="contentNumber"></p> -->
                  </div>
                  <div class="col choice_block scroll_right position_relative">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="52" height="60" viewbox="0 0 51.96152422706631 60" style="filter: drop-shadow(rgba(255, 255, 255, 0.5) 0px 0px 10px);"><path fill="#fff" d="M25.980762113533157 0L51.96152422706631 15L51.96152422706631 45L25.980762113533157 60L0 45L0 15Z"></path></svg>
                    <!-- <img src="img/box.svg" class="contentImgSvg" alt="logoSVG"> -->
                    <img src="images/dice.svg" alt="logoSVG">
                    <p class="contentText contentTextMonster"></p>
                    <!-- <p class="contentNumber"></p> -->
                  </div>
                </div>

              </div>


            </div>


            <div id="content_buttom_next_action" class="mx-auto scroll_right">
              <button type="button" class="btn btn-outline-secondary"onclick="app.launchRollFight()">Fight</button>
            </div>

      </div>
    </section>

    <script type="text/javascript">
      var stats_chance = "<%= statistique.stats_chance %>";
    </script>
    <script src="stylesheets/js/roll.js" charset="utf-8"></script>

    <script type="text/javascript">
    function $_GET(param) {
    	var vars = {};
    	window.location.href.replace( location.hash, '' ).replace(
    		/[?&]+([^=&]+)=?([^&]*)?/gi, // regexp
    		function( m, key, value ) { // callback
    			vars[key] = value !== undefined ? value : '';
    		}
    	);

    	if ( param ) {
    		return vars[param] ? vars[param] : null;
    	}
    	return vars;
    }
      console.log($_GET('pagi'))
      if ($_GET('pagi') == 1) {
        window.sr = ScrollReveal();
        function displayInventory(open, closed){
          if (document.getElementById(open).style.display == 'flex') {
            document.getElementById(open).style.display = 'none';
            return;
          }
          document.getElementById(closed).style.display = 'none';
          document.getElementById(open).style.display = 'flex';
        }
        sr.reveal('.scroll_top',{
          reset: true,
          origin: 'top',
          distance: '50px',
          delay: 300,
        });
        sr.reveal('.scroll_top_center',{
          reset: true,
          origin: 'top',
          distance: '50px',
          delay: 200,
        });
        sr.reveal('.scroll_top_super_center',{
          reset: true,
          origin: 'top',
          distance: '50px',
          delay: 100,
        });
        sr.reveal('.scroll_top',{
          reset: true,
          origin: 'top',
          distance: '50px',
        });
        sr.reveal('.scroll_right',{
          reset: true,
          origin: 'left',
          distance: '100px',
          duration: 500,
          delay: 500,
        });
        sr.reveal('.scroll_left',{
          reset: true,
          origin: 'right',
          distance: '100px',
          duration: 500,
          delay: 500,
        });
        sr.reveal('.scroll_right_center',{
          reset: true,
          origin: 'left',
          distance: '100px',
          duration: 700,
          delay: 700,
        });
        sr.reveal('.scroll_left_center',{
          reset: true,
          origin: 'right',
          distance: '100px',
          duration: 700,
          delay: 700,
        });
        sr.reveal('.col block_item', { duration: 2000 }, 100);
      }

    </script>
  </body>

</html>
