
<!DOCTYPE html>
<html>
  <head>
  </head>

  <link rel="stylesheet" href="./stylesheets/composant.css">
  <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <body>
    <section id="end">
        <div >
          <img src="images/black-b.jpg" alt="">
        </div>
    </section>


    <script src="stylesheets/js/roll.js" charset="utf-8"></script>

    <script type="text/javascript">
    function $_GET(param) {
    	var vars = {};
    	window.location.href.replace( location.hash, '' ).replace(
    		/[?&]+([^=&]+)=?([^&]*)?/gi, // regexp
    		function( m, key, value ) { // callback
    			vars[key] = value !== undefined ? value : '';
    		}
    	);

    	if ( param ) {
    		return vars[param] ? vars[param] : null;
    	}
    	return vars;
    }
      console.log($_GET('pagi'))
      if ($_GET('pagi') == 1) {
        window.sr = ScrollReveal();
        function displayInventory(open, closed){
          if (document.getElementById(open).style.display == 'flex') {
            document.getElementById(open).style.display = 'none';
            return;
          }
          document.getElementById(closed).style.display = 'none';
          document.getElementById(open).style.display = 'flex';
        }
        sr.reveal('.scroll_top',{
          reset: true,
          origin: 'top',
          distance: '50px',
          delay: 300,
        });
        sr.reveal('.scroll_top_center',{
          reset: true,
          origin: 'top',
          distance: '50px',
          delay: 200,
        });
        sr.reveal('.scroll_top_super_center',{
          reset: true,
          origin: 'top',
          distance: '50px',
          delay: 100,
        });
        sr.reveal('.scroll_top',{
          reset: true,
          origin: 'top',
          distance: '50px',
        });
        sr.reveal('.scroll_right',{
          reset: true,
          origin: 'left',
          distance: '100px',
          duration: 500,
          delay: 500,
        });
        sr.reveal('.scroll_left',{
          reset: true,
          origin: 'right',
          distance: '100px',
          duration: 500,
          delay: 500,
        });
        sr.reveal('.scroll_right_center',{
          reset: true,
          origin: 'left',
          distance: '100px',
          duration: 700,
          delay: 700,
        });
        sr.reveal('.scroll_left_center',{
          reset: true,
          origin: 'right',
          distance: '100px',
          duration: 700,
          delay: 700,
        });
        sr.reveal('.col block_item', { duration: 2000 }, 100);
      }

    </script>
  </body>

</html>
