<!DOCTYPE html>
<html>
  <head>
  </head>

  <link rel="stylesheet" href="./stylesheets/composant.css">
  <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <body>
    <section >

      <!-- <img id="background_image" src="images/page01/page01_01.jpg" alt=""> -->
      <img id="background_image" src="<%= image_url %>" alt="">
      <div class="container">

        <div id="content_statistique" class="mx-auto">
          <div class="content_statistique_main">
            <div class="row">
              <div class="col-2 content_statistique_main_bar content_statistique_main_bar_a scroll_top ">
                <span class="number_stats"><%= statistique.stats_habilite %></span>
                <div class="logo_statistique">
                  <img src="images/habi.svg" alt="logoSVG">
                </div>
              </div>
              <div class="col content_statistique_main_bar content_statistique_main_bar_b scroll_top_center ">
                <span class="number_stats"><%= statistique.stats_endurance %></span>
                <div class="logo_statistique">
                  <img src="images/pulse-line.svg" alt="logoSVG">
                </div>
              </div>
              <div class="col-3 content_statistique_main_bar content_statistique_main_bar_c scroll_top_super_center">
                <div class="hexsagon">
                  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="52" height="60" viewbox="0 0 51.96152422706631 60">
                    <path fill="#fff" d="M25.980762113533157 0L51.96152422706631 15L51.96152422706631 45L25.980762113533157 60L0 45L0 15Z"></path>
                    <img src="images/logo.no.texte.svg" alt="logoSVG">
                  </svg>
                </div>
              </div>
              <div class="col content_statistique_main_bar content_statistique_main_bar_d scroll_top_center ">
                <span class="number_stats"><%= statistique.stats_protection %></span>
                <div class="logo_statistique">
                  <img src="images/shield.svg" alt="logoSVG">
                </div>
              </div>
              <div class="col-2 content_statistique_main_bar content_statistique_main_bar_e scroll_top ">
                <span class="number_stats"><%= statistique.stats_chance %></span>
                <div class="logo_statistique">
                  <img src="images/clover.svg" alt="logoSVG">
                </div>
              </div>
            </div>
          </div>
        </div>

          <div id="content_text" class="mx-auto">
            <div id='text_page'>
              <p><%= message %></p>
            </div>
          </div>

          <div id="content_inventory" class="mx-auto">
            <div class="row content_inventory_top">
              <div class="col">
                <div id="content_buttom_next_action" class="mx-auto">
                  <a href="<%= link %>">
                    <button type="button" class="btn btn-outline-secondary"><%= text_buttom %></button>
                  </a>
                </div>
              </div>
            </div>
          </div>

      </div>
    </section>
    <script src="stylesheets/js/interface.js" charset="utf-8"></script>
    <script type="text/javascript">

    // document.body.style.background = "url('images/page01/page01_01.jpg')";

    function $_GET(param) {
    	var vars = {};
    	window.location.href.replace( location.hash, '' ).replace(
    		/[?&]+([^=&]+)=?([^&]*)?/gi, // regexp
    		function( m, key, value ) { // callback
    			vars[key] = value !== undefined ? value : '';
    		}
    	);

    	if ( param ) {
    		return vars[param] ? vars[param] : null;
    	}
    	return vars;
    }
      console.log($_GET('pagi'))
      if ($_GET('pagi') == 1) {
        window.sr = ScrollReveal();
        function displayInventory(open, closed){
          if (document.getElementById(open).style.display == 'flex') {
            document.getElementById(open).style.display = 'none';
            return;
          }
          document.getElementById(closed).style.display = 'none';
          document.getElementById(open).style.display = 'flex';
        }
        sr.reveal('.scroll_top',{
          reset: true,
          origin: 'top',
          distance: '50px',
          delay: 300,
        });
        sr.reveal('.scroll_top_center',{
          reset: true,
          origin: 'top',
          distance: '50px',
          delay: 200,
        });
        sr.reveal('.scroll_top_super_center',{
          reset: true,
          origin: 'top',
          distance: '50px',
          delay: 100,
        });
        sr.reveal('.scroll_top',{
          reset: true,
          origin: 'top',
          distance: '50px',
        });
        sr.reveal('.scroll_right',{
          reset: true,
          origin: 'left',
          distance: '100px',
          duration: 500,
          delay: 500,
        });
        sr.reveal('.scroll_left',{
          reset: true,
          origin: 'right',
          distance: '100px',
          duration: 500,
          delay: 500,
        });
        sr.reveal('.scroll_right_center',{
          reset: true,
          origin: 'left',
          distance: '100px',
          duration: 700,
          delay: 700,
        });
        sr.reveal('.scroll_left_center',{
          reset: true,
          origin: 'right',
          distance: '100px',
          duration: 700,
          delay: 700,
        });
        sr.reveal('.col block_item', { duration: 2000 }, 100);
      }

      // block_item
      // interval passed to reveal


      // var str = "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?";
      //
      // if (str.length > 900) {
      //   console.log('here');
      //   document.getElementById('text_page').innerHTML = info;
      // }
      // var segments = str.match(/.{1,200}/g);
      // var elDiv2 = document.createElement('div');
      // var elUl = document.createElement('ul');
      // elDiv2.appendChild(elUl);
      // for (var i = 0; i < segments.length; i++)
      // {
      //   var elDiv = document.createElement('div');
      //   elDiv.className = 'carousel-item text-center p-4';
      //   if (i == 0) {
      //     elDiv.className += ' active';
      //   }
      //   var elP = document.createElement('p');
      //   elP.textContent = segments[i];
      //   console.log('elP', elP);
      //   elDiv.appendChild(elP);
      //   document.getElementsByClassName('carousel-inner')[0].appendChild(elDiv);
      //   // var elLi = document.createElement('li');
      //   // elUl.appendChild(elLi);
      //   // document.getElementsByClassName('carouselPagination')[0].appendChild(elDiv2);
      // }
      // console.log('elDiv', elDiv);
      // // console.log('here', html);
      // // document.getElementById('text_page').innerHTML = html.textContent;
      //
      //   // function displayInventory(open, closed){
      // //   if (document.getElementById(open).style.display == 'block') {
      // //     document.getElementById(open).style.display = 'none';
      // //     return;
      // //   }
      // //   document.getElementById(closed).style.display = 'none';
      // //   document.getElementById(open).style.display = 'block';
      // // }
    </script>
  </body>

</html>
