$height_bar_stats : 35px;
$width_bar_stats : 60px;

$color_grey_01 : #646464;
$color_grey_02 : #9D9D9D;
$color_grey_03 : #FFFFFF;

$color_LSDVELH_02 : #52C1FF;
$color_LSDVELH_01 : #25a5e5;
$color_LSDVELH_03 : #0083C4;
$color_LSDVELH_04 : #0570a4;

$center : margin 0 auto;
$margin_top_section : 20px;

@font-face {
 font-family: "Chocolates";
  src: url("/fonts/TT_Chocolates_Regular.otf") format("otf"),
}
@font-face {
 font-family: "ChocolatesB";
  src: url("/fonts/TT_Chocolates_Bold.otf") format("otf"),
}
body {
  background-color: black;
  margin: 0!important;
  padding: 0!important;
  line-height: 1.6!important;
}
a {
  color: white !important
}
#background_image {
  position: fixed;
  // opacity: 0.5;
  z-index: -10;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
}
p{
  color: #d3c7aa!important;
}
#content_text{
  // background-color: white!important;
  z-index: 100;
}
@import 'composants/statistique_comp.scss';
@import 'composants/text_comp.scss';
@import 'composants/super_hexagon_comp.scss';
@import 'composants/content_inventory.scss';
@import 'composants/content_buttom_next_action.scss';
@import 'composants/content_page_text.scss';
@import 'composants/end.scss';
@import 'composants/scrollbar.scss';

@import "interface.scss";
