@font-face {
  font-family: "Chocolates";
  src: url("/fonts/TT_Chocolates_Regular.otf") format("otf"); }
@font-face {
  font-family: "ChocolatesB";
  src: url("/fonts/TT_Chocolates_Bold.otf") format("otf"); }
body {
  background-color: black;
  margin: 0 !important;
  padding: 0 !important;
  line-height: 1.6 !important; }

a {
  color: white !important; }

#background_image {
  position: fixed;
  z-index: -10;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%; }

p {
  color: #d3c7aa !important; }

#content_text {
  z-index: 100; }

[id='content_statistique'] {
  width: 375px;
  height: 60px;
  margin-top: 20px; }

.content_statistique_main_bar {
  height: 60px;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center; }
  .content_statistique_main_bar span {
    font-size: 1.5em;
    font-weight: bold; }
  .content_statistique_main_bar .number_stats {
    text-align: center;
    color: white;
    left: 25px;
    z-index: 100;
    position: absolute; }
  .content_statistique_main_bar .logo_statistique {
    z-index: 10;
    position: absolute;
    top: 10px; }

.logo_statistique {
  width: 45px;
  margin: 0 auto; }
  .logo_statistique img {
    opacity: 0.3; }

.content_statistique_main_bar_c {
  padding: 0px; }

.hexsagon {
  position: relative; }
  .hexsagon img {
    position: absolute;
    top: -10px;
    left: 0; }

[id='content_text'] {
  background-color: none;
  width: 100%;
  min-height: 120px;
  padding: 10px;
  padding-bottom: 2px;
  text-align: justify;
  border: 1px solid black;
  margin-top: 20px;
  margin: margin 0 auto;
  overflow: scroll; }
  [id='content_text'] p {
    margin: 0; }

[id='content_text'] {
  background-color: none;
  overflow-x: hidden;
  overflow-y: hidden;
  border: 0px solid black; }

[id='text_page'] {
  color: #d3c7aa;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 21px;
  text-align: center;
  letter-spacing: -.004em;
  line-height: 1.58;
  margin: 0 auto;
  max-width: 700px;
  padding: 10px 0;
  position: relative;
  text-align: justify;
  z-index: 2; }

.carousel-control-next {
  right: -30px !important;
  height: 100px !important; }

.carousel-control-prev {
  left: -30px !important;
  height: 100px !important; }

.Hide {
  display: none; }

[id='content_super_hexagon'] {
  position: relative;
  width: 500px;
  height: 480px;
  margin-top: 20px; }
  [id='content_super_hexagon'] .contentRandNumber {
    font-size: 6em;
    text-align: center; }
  [id='content_super_hexagon'] .choice_block {
    position: relative; }
    [id='content_super_hexagon'] .choice_block img {
      opacity: 0.3; }
    [id='content_super_hexagon'] .choice_block .contentText {
      width: 148px;
      position: absolute;
      top: 35px;
      padding: 0 20px;
      font-weight: 300;
      font-size: 18px;
      text-align: center; }
    [id='content_super_hexagon'] .choice_block .contentNumber {
      font-size: 3.5em;
      width: 148px;
      position: absolute;
      top: 40px;
      padding: 0 20px;
      text-align: center; }
    [id='content_super_hexagon'] .choice_block .contentImgSvg {
      position: absolute;
      left: 40px;
      top: 35px; }
    [id='content_super_hexagon'] .choice_block:not(.disabled):hover svg path {
      fill: #000000 !important;
      stroke: #817657 !important; }
  [id='content_super_hexagon'] .disabled img, [id='content_super_hexagon'] .disabled p {
    display: none; }
  [id='content_super_hexagon'] .disabled path {
    fill: #dedede;
    display: none; }
  [id='content_super_hexagon'] .row {
    position: absolute; }
  [id='content_super_hexagon'] .row:nth-of-type(1) {
    top: 0;
    margin-left: 72px;
    margin-right: 58px; }
  [id='content_super_hexagon'] .row:nth-of-type(2) {
    top: 150px; }
    [id='content_super_hexagon'] .row:nth-of-type(2) .col:nth-of-type(2) {
      width: 178px !important; }
    [id='content_super_hexagon'] .row:nth-of-type(2) svg {
      display: block;
      margin: 0 auto; }
  [id='content_super_hexagon'] .row:nth-of-type(3) {
    top: 300px;
    margin-left: 72px;
    margin-right: 58px; }
  [id='content_super_hexagon'] .contentImgSvg {
    z-index: 100;
    height: 100px;
    width: 100px; }

.position_relative {
  position: relative; }
  .position_relative img {
    opacity: 0.8;
    position: absolute;
    left: 22.5px;
    height: 35px;
    top: 10px; }
  .position_relative .contentText {
    display: flex;
    align-items: center;
    justify-content: center; }

[id='content_super_hexagon_bad'] {
  position: relative;
  width: 500px;
  height: 480px;
  margin-top: 20px; }
  [id='content_super_hexagon_bad'] .contentRandNumber {
    font-size: 4em;
    text-align: center; }
  [id='content_super_hexagon_bad'] .content_fight {
    margin: 0 !important;
    padding: 0 !important;
    position: relative; }
    [id='content_super_hexagon_bad'] .content_fight .stats_fight {
      margin: 0 !important;
      position: absolute !important;
      padding-top: 30px;
      left: -10px; }
      [id='content_super_hexagon_bad'] .content_fight .stats_fight .col {
        margin: 0 !important;
        padding: 0 !important; }
  [id='content_super_hexagon_bad'] .choice_block {
    position: relative; }
    [id='content_super_hexagon_bad'] .choice_block img {
      opacity: 0.3; }
    [id='content_super_hexagon_bad'] .choice_block .contentText {
      width: 148px;
      position: absolute;
      font-weight: 300;
      font-size: 19px;
      top: 35px;
      padding: 0 20px;
      text-align: center; }
    [id='content_super_hexagon_bad'] .choice_block .contentNumber {
      font-size: 3.5em;
      width: 148px;
      position: absolute;
      top: 40px;
      padding: 0 20px;
      text-align: center; }
    [id='content_super_hexagon_bad'] .choice_block .contentImgSvg {
      position: absolute;
      left: 40px;
      top: 35px; }
    [id='content_super_hexagon_bad'] .choice_block:not(.disabled):hover svg path {
      fill: #429dcb !important; }
  [id='content_super_hexagon_bad'] .disabled img, [id='content_super_hexagon_bad'] .disabled p {
    display: none; }
  [id='content_super_hexagon_bad'] .disabled path {
    fill: #dedede; }
  [id='content_super_hexagon_bad'] .row {
    position: absolute; }
  [id='content_super_hexagon_bad'] .row:nth-of-type(1) {
    top: 0;
    margin-left: 72px;
    margin-right: 58px; }
  [id='content_super_hexagon_bad'] .row:nth-of-type(2) {
    top: 150px; }
    [id='content_super_hexagon_bad'] .row:nth-of-type(2) .col:nth-of-type(2) {
      width: 178px !important; }
    [id='content_super_hexagon_bad'] .row:nth-of-type(2) svg {
      display: block;
      margin: 0 auto; }
  [id='content_super_hexagon_bad'] .row:nth-of-type(3) {
    top: 300px;
    margin-left: 72px;
    margin-right: 58px; }
  [id='content_super_hexagon_bad'] .contentImgSvg {
    z-index: 100;
    height: 100px;
    width: 100px; }

[id='content_inventory'] {
  width: 375px;
  height: 228px;
  width: 100%;
  max-width: 780px;
  margin-top: 20px; }
  [id='content_inventory'] .content_inventory_bottom,
  [id='content_inventory'] .content_inventory_top {
    height: 114px; }
  [id='content_inventory'] .content_inventory_bottom .main_block_item {
    margin-left: 10px; }
  [id='content_inventory'] .content_inventory_bottom .block_item {
    position: relative;
    padding: 5px !important;
    height: 100px; }
    [id='content_inventory'] .content_inventory_bottom .block_item img {
      display: block;
      position: absolute;
      top: 15px;
      left: 12.5px;
      height: 65px;
      width: 65px; }
  [id='content_inventory'] [id='inventory_objects'] {
    display: none; }
  [id='content_inventory'] [id='inventory_weapons'] {
    display: none; }
  [id='content_inventory'] .button_inventory_objects div,
  [id='content_inventory'] .button_inventory_weapon div {
    margin: 0 auto;
    margin-top: 40px;
    height: 60px;
    width: 60px;
    background: white;
    border-radius: 30px; }

[id="content_buttom_next_action"] {
  text-align: center;
  margin-top: 20px; }

[id='content_page_text'] {
  border: 1px solid black;
  margin-top: 20px;
  font-size: 1.6em;
  padding: 20px;
  max-width: 780px;
  max-height: 500px !important; }

[id='end'] {
  position: relative; }
  [id='end'] img {
    height: 100vh;
    width: 100%; }

header {
  font-family: 'Lobster', cursive;
  text-align: center;
  font-size: 25px; }

#info {
  font-size: 18px;
  color: #555;
  text-align: center;
  margin-bottom: 25px; }

a {
  color: #074E8C; }

.scrollbar {
  margin-left: 30px;
  float: left;
  height: 300px;
  width: 65px;
  background: #F5F5F5;
  overflow-y: scroll;
  margin-bottom: 25px; }

.force-overflow {
  min-height: 450px; }

#wrapper {
  text-align: center;
  width: 500px;
  margin: auto; }

/*
 *  STYLE 1
 */
#style-1::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5; }

#style-1::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

#style-1::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555; }

/*
 *  STYLE 2
 */
#style-2::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5; }

#style-2::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

#style-2::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #D62929; }

/*
 *  STYLE 3
 */
#style-3::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5; }

#style-3::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5; }

#style-3::-webkit-scrollbar-thumb {
  background-color: #000000; }

/*
 *  STYLE 4
 */
#style-4::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5; }

#style-4::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5; }

#style-4::-webkit-scrollbar-thumb {
  background-color: #000000;
  border: 2px solid #555555; }

/*
 *  STYLE 5
 */
#style-5::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5; }

#style-5::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5; }

#style-5::-webkit-scrollbar-thumb {
  background-color: #0ae;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0.5, rgba(255, 255, 255, 0.2)), color-stop(0.5, transparent), to(transparent)); }

/*
 *  STYLE 6
 */
#style-6::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5; }

#style-6::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5; }

#style-6::-webkit-scrollbar-thumb {
  background-color: #F90;
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent); }

/*
 *  STYLE 7
 */
#style-7::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
  border-radius: 10px; }

#style-7::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5; }

#style-7::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, #7a99d9), color-stop(0.72, #497dbd), color-stop(0.86, #1c3a94)); }

/*
 *  STYLE 8
 */
#style-8::-webkit-scrollbar-track {
  border: 1px solid black;
  background-color: #F5F5F5; }

#style-8::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5; }

#style-8::-webkit-scrollbar-thumb {
  background-color: #000000; }

/*
 *  STYLE 9
 */
#style-9::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5; }

#style-9::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5; }

#style-9::-webkit-scrollbar-thumb {
  background-color: #F90;
  background-image: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent); }

/*
 *  STYLE 10
 */
#style-10::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
  border-radius: 10px; }

#style-10::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5; }

#style-10::-webkit-scrollbar-thumb {
  background-color: #AAA;
  border-radius: 10px;
  background-image: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0.2) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.2) 75%, transparent 75%, transparent); }

/*
 *  STYLE 11
 */
#style-11::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
  border-radius: 10px; }

#style-11::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5; }

#style-11::-webkit-scrollbar-thumb {
  background-color: #3366FF;
  border-radius: 10px;
  background-image: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0.5) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.5) 75%, transparent 75%, transparent); }

/*
 *  STYLE 12
 */
#style-12::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  background-color: #444444; }

#style-12::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

#style-12::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #D62929;
  background-image: -webkit-linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.4) 50%, transparent, transparent); }

/*
 *  STYLE 13
 */
#style-13::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  background-color: #CCCCCC; }

#style-13::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

#style-13::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #D62929;
  background-image: -webkit-linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.4) 50%, transparent, transparent); }

/*
 *  STYLE 14
 */
#style-14::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.6);
  background-color: #CCCCCC; }

#style-14::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5; }

#style-14::-webkit-scrollbar-thumb {
  background-color: #FFF;
  background-image: -webkit-linear-gradient(90deg, black 0%, black 25%, transparent 100%, black 75%, transparent); }

/*
 *  STYLE 15
 */
#style-15::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

#style-15::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5; }

#style-15::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #FFF;
  background-image: -webkit-gradient(linear, 40% 0%, 75% 84%, from(#4D9C41), to(#19911D), color-stop(0.6, #54DE5D)); }

/*
 *  STYLE 16
 */
#style-16::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

#style-16::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5; }

#style-16::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #FFF;
  background-image: -webkit-linear-gradient(top, #e4f5fc 0%, #bfe8f9 50%, #9fd8ef 51%, #2ab0ed 100%); }

/*# sourceMappingURL=composant.css.map */
