[id='content_inventory']
{
  width: 375px;
  height: 228px;
  width: 100%;
  max-width: 780px;
  margin-top: $margin_top_section;
  // padding-top: 20px;
  .content_inventory_bottom,
  .content_inventory_top{
    height: 114px;
  }
  .content_inventory_bottom{
    .main_block_item{
      margin-left: 10px;
    }
    .block_item{
      position: relative;
      padding: 5px!important;
      height: 100px;
      img{
        display: block;
        position: absolute;
        top: 15px;
        left: 12.5px;
        height: 65px;
        width: 65px;
      }
    }
    .block_item:nth-of-type(1){
      // padding-left: 15px!important;
    }
  }
  [id='inventory_objects']{
    display: none;
  }
  [id='inventory_weapons']{
    display: none;
  }
  .button_inventory_objects,
  .button_inventory_weapon{
    div{
      margin: 0 auto;
      margin-top: 40px;
      height: 60px;
      width: 60px;
      background: white;
      border-radius: 30px;
    }
  }
}
