[id='content_super_hexagon']
{
  position: relative;
  width: 500px;
  height: 480px;
  margin-top: $margin_top_section;
  // border: 1px solid black;
  // padding-top: 20px;
  .contentRandNumber{
    font-size: 6em;
    text-align: center;
  }

  .choice_block{
    position: relative;
    &:hover{

    }
    img{
      opacity: 0.3;
    }
    .contentText{
      width: 148px;
      position: absolute;
      top: 35px;
      padding: 0 20px;
      font-weight: 300;
      font-size: 18px;
      text-align: center;
    }
    .contentNumber{
      font-size: 3.5em;
      width: 148px;
      position: absolute;
      top: 40px;
      padding: 0 20px;
      text-align: center;
    }

    .contentImgSvg{
      position: absolute;
      left: 40px;
      top: 35px;
    }
    &:not(.disabled):hover {
      // font-family: sans-serif;
      // transform: translateX(0) scale(1.1)!important;
      // transition: 1s!important;
      // delay:0!important;
      // transition-timing-function: cubic-bezier(0)!important;
      svg {
        path{
          fill: #000000!important;
          stroke: #817657!important;
        }
      }
    }
  }
  .disabled{
    img,p{
      display: none;
    }
    path {
      fill: #dedede;
      display: none;
      &:hover {

      }
    }

  }

  .row{
    position: absolute;
  }
  .row:nth-of-type(1){
      top: 0;
      margin-left: 72px;
      margin-right: 58px;
  }

  .row:nth-of-type(2){
    top: 150px;
    .col:nth-of-type(2){
      width: 178px!important;
    }
    svg{
      display: block;
      margin: 0 auto;
    }
  }

  .row:nth-of-type(3){
    top: 300px;
    margin-left: 72px;
    margin-right: 58px;
  }
  .contentImgSvg{
    z-index: 100;
    height: 100px;
    width: 100px;
  }
} //END ID content_super_hexagon
.position_relative{
  position: relative;
  img{
    opacity: 0.8;
    position: absolute;
    left: 22.5px;
    height: 35px;
    top: 10px;
  }
  svg{
  }
  .contentText{
     display: flex;
     align-items: center;
     justify-content: center;
  }
}
[id='content_super_hexagon_bad']
{
  position: relative;
  width: 500px;
  height: 480px;
  margin-top: $margin_top_section;
  // border: 1px solid black;
  // padding-top: 20px;

  .contentRandNumber{
    font-size: 4em;
    text-align: center;
  }
  .content_fight{
      margin: 0!important;
      padding: 0!important;
      position: relative;
    .stats_fight{
        margin: 0!important;
        position: absolute!important;
        padding-top: 30px;
        left: -10px;
      .col{
        margin: 0!important;
        padding: 0!important;
      }
    }
  }
  .choice_block{
    position: relative;
    &:hover{

    }
    img{
      opacity: 0.3;
    }
    .contentText{
      width: 148px;
      position: absolute;
      font-weight: 300;
      font-size: 19px;
      top: 35px;
      padding: 0 20px;
      text-align: center;
    }
    .contentNumber{
      font-size: 3.5em;
      width: 148px;
      position: absolute;
      top: 40px;
      padding: 0 20px;
      text-align: center;
    }

    .contentImgSvg{
      position: absolute;
      left: 40px;
      top: 35px;
    }
    &:not(.disabled):hover {
      // font-family: sans-serif;
      // transform: translateX(0) scale(1.1)!important;
      // transition: 1s!important;
      // delay:0!important;
      // transition-timing-function: cubic-bezier(0)!important;
      svg {
        path{
          fill: #429dcb!important;
        }
      }
    }
  }
  .disabled{
    img,p{
      display: none;
    }
    path {
      fill: #dedede;
      &:hover {

      }
    }

  }

  .row{
    position: absolute;
  }
  .row:nth-of-type(1){
      top: 0;
      margin-left: 72px;
      margin-right: 58px;
  }

  .row:nth-of-type(2){
    top: 150px;
    .col:nth-of-type(2){
      width: 178px!important;
    }
    svg{
      display: block;
      margin: 0 auto;
    }
  }

  .row:nth-of-type(3){
    top: 300px;
    margin-left: 72px;
    margin-right: 58px;
  }
  .contentImgSvg{
    z-index: 100;
    height: 100px;
    width: 100px;
  }
} //END ID content_super_hexagon
