[id='content_text']
{
  background-color:none;
  p {
    margin: 0;
  }
  width: 100%;
  min-height: 120px;
  padding: 10px;
  padding-bottom: 2px;
  text-align: justify;
  // max-width: 780px;
  border: 1px solid black;
  margin-top: $margin_top_section;
  margin: $center;
  // max-height: 745px!important;
  overflow: scroll;
}
[id='content_text']{
  background-color: none;
  overflow-x: hidden;
  overflow-y: hidden;
  border: 0px solid black;
}
[id='text_page']{
  color: #d3c7aa;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 21px;
    text-align: center;
  letter-spacing: -.004em;
  line-height: 1.58;
  margin: 0 auto;
  max-width: 700px;
  padding: 10px 0;
  position: relative;
  text-align: justify;
  z-index: 2;
}
.carousel-control-next{
  right: -30px!important;
  height: 100px!important;
}
.carousel-control-prev{
  left: -30px!important;
  height: 100px!important;
}
.Hide
{
  display:none;
}


// .content_statistique_main_bar{
//   height: 60px;
//   background-color: #cbb7e2;
//   padding-top: 10px;
//   padding-bottom: 10px;
//   text-align: center;
//   span{
//     font-size: 1.5em;
//   }
// }
// .content_statistique_main_bar_c{
//   padding: 0px;
// }
